<!-- 結構型指令 ngSwitch -->
<!-- 測試 data.service的話需註解 -->
<!-- <article
  class="post"
  [id]="'post' + idx"
  *ngFor="let item of dataSvc.data; let idx = index"
> -->
<!-- 測試 data2.service的話需註解 -->
<!-- <article
  class="post"
  [id]="'post' + idx"
  *ngFor="let item of data; let idx = index"
>
  <app-article-header [item]="item" (delete)="doDelete2($event)" (titleChanged)="doModify($event)"></app-article-header>
  <app-article-body [item]="item" [counter]="counter"></app-article-body>
</article> -->

<!-- 使用 非同步 -->
<article
  class="post"
  [id]="'p1ost' + idx"
  *ngFor="let item of data$ | async; let idx = index"
>
  <app-article-header [item]="item"></app-article-header>
  <app-article-body [item]="item" [counter]="counter"></app-article-body>
</article>
